<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
        rel="stylesheet">
    <title>Forum</title>
</head>

<body>
    <header>
        <nav>
            <div class="row-nav">
                <ul class="main-nav-1">
                    <li><a href="/posts" id="feed" target="_blank">Feed</a></li>
                    <li>
                        <label for="search"></label>
                        <input type="search" id="search" placeholder="&nbsp;&nbsp;Search" spellcheck="false">
                    </li>
                </ul>
                <ul class="main-nav-2">
                    <li><a href="/addPost">Post</a></li>
                    <li><a href="#">Popular</a></li>
                    <li><a href="/login" id="signin" target="_blank">Sign in</a></li>
                    <li><a href="/signup" id="signup" target="_blank">Sign up</a></li>
                </ul>

            </div>
        </nav>
        <div class="hero-text-box">

            <h1>WELCOME BACK<br>
                @USERNAME</h1>
        </div>
    </header>



</body>

</html>