<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/css/signinstyle.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
        <title>Sign in</title>
    </head>

    <body>
        <div class="bg-modal">
            <div class="modal-content">
                <img src="resources/img/user.png" height="60px" width="auto">
                <br>   
                <form action="/login.js">
                    <input type="email" placeholder="Username" spellcheck="false">
                    <input type="password" placeholder="Password">
                    <div class="lmao">
                        <a href="" class="button">Sign in</a>
                    </div>
                </form>
            </div>
        </div>

        

            
        
    </body>
</html>