* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {outline: none;}

html,
body {
    background: rgb(255,255,255);
    color: #555;
    font-family: 'Lato','Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; 
    overflow-x: hidden;
    background-color: rgb(238, 238, 238);
}

.main {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    height: auto;
    padding-bottom: 25px;
}

.x {
    width: 70%;
    padding: 7px;
    font-size: 85%;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    color: #555;
}
.c1 {
    height: 40px;
    margin: 4% 15%;   
}

.c2 {   
    height: 400px;
    margin: 10px 15%;
    resize: vertical;
    min-height:130px;
}
/***********************************/

.row-nav {
    max-width: 1440px;
    margin: 0 auto;
    letter-spacing: 0px;
    height: 55px;
    font-size: 85%;
    font-weight: 500;
    margin-bottom: 30px;
    
}

.navigation {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.98);
    width: 100%;
    margin-left: -3%;
    margin-right: auto;
    border-bottom: 1.5px solid rgb(231, 230, 230);
}
a {
    text-decoration: none;
    color: rgb(22, 22, 22);
}

a:hover,
a:active {
    color: rgb(122,58,149);
    font-weight: 500;  
}

.row-nav li {
    list-style: none;
    display: inline-block;
    margin:0 40px;
}
 .rite {
     float: right;
 }

#search-bar {
    width: 400px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    border: none;
    height: 28px;
    border-radius: 5px;
    padding: 10px;
    font-size: 84%;
    /* transition: 0.2s; */
}

#search-bar:hover,
#search-bar:visited {
    background-color: #fff;
    border: 1px solid rgb(122,58,149);
}

.rite {
    margin-top: 3.7px;
}